Usuario
UsuarioConsultar
UsuarioExcluir
UsuarioCadastrar
UsuarioAlterar
UsuarioVisualizar
UsuarioStatus
UsuarioNotificar
Produto
ProdutoConsultar
ProdutoVerDetalhes
ProdutoCadastrar
ProdutoVender
ProdutoAlterar
ProdutoExcluir
ProdutoComprar
ProdutoAcompanharCompra
CategoriaProduto
CategoriaConsultar
CategoriaCadastrar
CategoriaAlterar
CategoriaExcluir
Comunicacao
BugTrack
BugTrackConsultar
BugTrackAlterar
BugTrackExcluir
Faq
FaqConsultar
FaqCadastrar
FaqAlterar
FaqExcluir
FaleConosco
EnviarMensagem
CarrinhoCompras
CarrinhoVisualizarProdutos
CarrinhoRemoverProdutos
CarrinhoFinalizarCompras
PgtoDinheiro
PgtoBoletoBancario
PgtoCartaoCredito
PgtoCupomDesconto
EnvioPresente
EnvioPresenteCartao
